<!DOCTYPE hmtl>
<style>
    div {
        text-align: center;
    }
    #podcastPhoto {
        width: 360;
        height: 360;
    }
</style>

<html>
    <body>
        <div>
            <img id="podcastPhoto"src="https://cdn.changelog.com/images/podcasts/podcast-cover-art-64a3184278271e1751c20f040e3c0055.png?vsn=d">
        </div>
        <div>
            <h1 id="podcastTitle">Podcast Title</h1>
            <h3 id="podcast summary">This is the podcast description</h3>
        </div>
    </body>
</html>